<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

<p th:text="#{home.welcome}">Welcome to our grocery store!</p>
<!-- strings 内置对象-->
<p th:text="${!#strings.isEmpty(message)}">Message!</p>
<!-- string 自定义对象-->
<p th:text="${string.isNotBlack(message)?message:'not content'}">Message!!!!!</p>
</body>

</html>